@import "tailwindcss";
@import "../../../../packages/ui/src/styles/globals.css";
@import "./prism.css";

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  @apply hidden w-0 bg-transparent;
}

::selection {
  color: hsl(var(--primary-foreground));
  background-color: hsl(var(--primary));
}
